
# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build results
[Dd]ebug/
[Dd]ebugPublic/

# VScode settings
.vscode/












































































































































































































































































































