# Build results
[Dd]ebug/
[Dd]ebugPublic/

# VScode settings
.vscode/




























































































































































































































































































